.css-fade1 {
	position: absolute;
		width: 100%;
		height: 2250px;
		background-color: rgba(18,107,179,1);
		overflow: visible;
    animation-name: fade-in1;
    animation-duration: 2.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-iteration-count: 1; 
    animation-direction: normal; 
    opacity: 1;
	z-index: 11;
  }


  #loadingflower1{
	position: absolute;
		width: 350px;
		height: 350px;
		left: 50%;
		top: 88px;
		overflow: visible;
		transform:translate(-50%,0);
    

}
#loadingflower2{
	position: absolute;
		width: 350px;
		height: 350px;
		left: 50%;
		top: 88px;
		overflow: visible;
		transform:translate(-50%,0);
    

}
.css-fade2 {
	position: absolute;
		width: 100%;
		height: 2250px;
		background-color: rgba(18,107,179,1);
		overflow: visible;
    animation-name: fade-in2;
    animation-duration: 5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-iteration-count: 1; 
    animation-direction: normal; 
    opacity: 1;
	z-index: 12;
  }

  @keyframes fade-in1 {
    0% {
      opacity: 0;
    }
    50%{
      opacity: 0;
    }

    99.9%,to {
      opacity: 1;
    }
  }

  @keyframes fade-in2 {
    0% {
      opacity: 0;
    }
    
70%{ opacity: 0;}
   

99.9%,to{
      opacity: 1;
    }
  }
